{% extends 'MyApp/base.html' %}

{% block content %}
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  <h2>Welcome:- {{ user.username|upper }}....!</h2>

<form  autocomplete="off"
      method="post" enctype="multipart/form-data"
>

      {% csrf_token %}
    {{ form.media }}
    {{ form.as_p }}
{#<p>Please.. Used add button to show editors and you can edit the file  </p>#}

<p>Please.. Used add button to show editors and you can edit the file  </p>
<button class="button" type="submit">save</button>
</form>
{% endblock %}